#encounterWrapper{
    background: lightgray;
    width: 100%;
    height: 100%;
}

#enemyInfo{
    border-style: solid;
    background: rgb(240, 90, 90);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
    margin-left: 8px;
    margin-top: 8px;
}

#enemyArt{
    background: pink;
    position: absolute;
    top: 20px;
    right: 60px;
    height: 200px;
    width: 200px;
    margin-top: 8px;
}

#playerArt {
    background: lightblue;
    position: absolute;
    bottom: 130px;
    left: 60px;
    height: 200px;
    width: 200px;
}

#playerInfo{
    border-style: solid;
    background: rgb(102, 102, 255);
    position: absolute;
    margin-right: 8px;
    bottom: 109px;
    width: 200px;
    height: 100px;
    right: 0px;
}

#info{
    position: absolute;
    bottom: 9px;
    width: 600px;
    height: 100px;
    background: gray;
}

.name {
    position: absolute;
    top: 10px;
    left: 20px;
}

.health {
    position: absolute;
    top: 30px;
    left: 20px;
}

.ram {
    position: absolute;
    top: 50px;
    left: 20px;
}

.status {
    position: absolute;
    top: 70px;
    left: 20px;
}

.btn {
    font-size: 28px;
    border-style: solid;
    background-color: green;
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(136, 230, 136);
}

.btn:active{
    background-color: rgb(9, 73, 9);
}

.accept {
    position: absolute; 
    font-size: 60px;
    top: 12px;
    left: 30px;
    padding: 5px;
    width: 220px;
    height: 60px;
    line-height: 60px;
}

.decline {
    position: absolute; 
    font-size: 60px;
    top: 12px;
    right: 30px;
    padding: 5px;
    width: 220px;
    height: 60px;
    line-height: 60px;
}

.run {
    position: absolute;
    right: 20px;
    top: 10px;
}

.swap {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.readout {
    width: 280px;
    height: 85px;
    position: absolute;
    margin: 8px;
    background: white;
}

#attackMenu {
    overflow: auto;
    width: 130px;
    max-height: 80px;
    background-color: white;
    border-style: solid;
    border: 2px;
    position: absolute;
    top: 10px;
    left: 300px;
}

.attackOption {
    border-style: solid;
    border: 2px;
    margin: 3px;
    padding: 3px;
    background: rgb(212, 210, 210);
    text-align: center;
}

.attackOption:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);    
}

.attackOption:active{
    background-color: rgb(85, 84, 84); 
}

#tooltip {
    background: white;
    position: absolute;
    padding: 6px;
    left: 300px;
    bottom: 100px;
}