.phox{
    text-align: center;
    border-style: solid;
    background: rgb(74, 212, 247);
    width: 120px;
    height: 50px;    
    margin: 5px;
    padding: 4px;
}

.leader {
    position: absolute;
    top: 13px;
    height: 100px;
    right: 8px;
    line-height: 33px;
}

.phox:hover{
    cursor: pointer;
    background: rgb(165, 237, 255);
}

.phox:active{
    background: rgb(16, 144, 177);
}

#basicInfo {
    position: absolute;
    border-width: 2px;
    top: 5px;
    left:5px;
    border-style: solid;
    width: 140px;
    height: 140px;
    text-align: center;
}

#stats {
    position: absolute;
    border-width: 2px;
    top: 5px;
    right :5px;
    border-style: solid;
    width: 140px;
    height: 140px;
    line-height: 20px;
    text-align: center;
}

#viewUpgrades {
    position: absolute;
    border-width: 2px;
    bottom: 5px;
    right :5px;
    border-style: solid;
    width: 140px;
    height: 140px;
    font-size: 20px;
    line-height: 140px;
    text-align: center;
}

#viewUpgrades:hover {
    cursor:pointer;
    background-color: aqua;
}

#viewUpgrades:active {
    background-color: rgb(65, 172, 172);
}

#attacks{
    position: absolute;
    border-width: 2px;
    bottom: 5px;
    left:5px;
    border-style: solid;
    width: 140px;
    height: 140px;
    overflow: scroll;
}

.attack {
    border-style: solid;
    border: 2px;
    margin: 3px;
    padding: 3px;
    background: rgb(212, 210, 210);
    text-align: center;
}

.attack:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);    
}

.attack:active{
    background-color: rgb(85, 84, 84); 
}

#tooltipViewPhox {
    background-color: white;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    bottom: 144px;
    padding: 3px;
    margin: 3px;
    left: 2px;
}