<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/combat.css">
        <link rel="stylesheet" href="../stylesheets/viewparty.css">
    </head>
    <body>
        <div id="content">
            Loading...
        </div>
        <script type="text/javascript" src="../static/jquery.js"></script>
        <script type="text/javascript" src="../static/socketio.js"></script>
        <script type="text/javascript" src="../static/popup.js"></script>
    </body>
</html>