<!DOCTYPE html>
<html>
    <head>
        <style>
            html{
                width: 600px;
                height: 450px;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <div id="login">
                <form action="" id="getPlayer" method="POST">
                    <input type="text" class="username" placeholder="Username"/>
                    <input type="password" class="password" placeholder="Password"/>
                    <input type="submit" value="Log In">
                </form>
            </div>
            <div id="signupLink">
                Click here to make an account
            </div>
        </div>
        <script type="text/javascript" src="../static/popup.js"></script>
    </body>
</html>